<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1" class="date">
        <div><span class="ion-no-margin">
        22
        </span>
      <span style="font-size: 60px; margin-left: -30px;">oct</span>
    </div>
      </ion-col>
      
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="11">
          <ion-list no-padding>
              <ion-item  style="color: white;">
                <ion-icon name="checkmark" slot="start"></ion-icon>
                Take trash out
              </ion-item>
              <ion-item style="color: white;"> 
                  <ion-icon name="checkmark" slot="start"></ion-icon>
                  Tell Chiara that I love her
                </ion-item>
                <ion-item style="color: white;">
                    <ion-icon name="checkmark" slot="start"></ion-icon>
                    Kidding, I don't have to remember it
                  </ion-item>
                  <ion-item style="color: white;">
                      <ion-icon name="checkmark" slot="start"></ion-icon>
                      Feed the kitty
                    </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab horizontal="start" vertical="bottom" slot="fixed">
        <ion-fab-button>
            <ion-menu-button></ion-menu-button>
        </ion-fab-button>
      </ion-fab>
</ion-content>

<div class="day">
    <div style="text-align: center">
      Tuesday
    </div>
</div>
